﻿@model Models.DomainModels.Borrower

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrower</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowerGeovernmentIdentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowerGeovernmentIdentity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BorrowerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
