﻿@model IEnumerable<Models.DomainModels.Borrower>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowerGeovernmentIdentity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td>
                    <p>No Borrowers Available</p>
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BorrowerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BorrowerGeovernmentIdentity)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BorrowerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BorrowerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BorrowerId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
