﻿@model Models.DomainModels.Penalty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Penalty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PenaltyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PenaltyDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PenaltyAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.BorrowingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.BorrowingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.ReceivedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.ReceivedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Book.BookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Book.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Book.BookAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Book.BookAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Book.BookGenreEnum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Book.BookGenreEnum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.Borrower.BorrowerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Borrowing.Borrower.BorrowerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PenaltyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
