﻿@model IEnumerable<Models.DomainModels.Penalty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrowing.Borrower.BorrowerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrowing.Borrower.BorrowerName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.PenaltyId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.PenaltyId">Details</a>
                @* | *@
                @*<a asp-action="Delete" asp-route-id="@item.PenaltyId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
