﻿@*@model LMS.ViewModels.CreateLibraryBookViewModel*@
@model Models.DomainModels.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Library</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookGenreEnum" class="control-label"></label>
                <select asp-for="BookGenreEnum" class="form-control" asp-items="Html.GetEnumSelectList<Models.DomainModels.BookGenreEnum>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="BookGenreEnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsBookAvailable" class="control-label"></label>
                <select asp-for="IsBookAvailable" class="form-control" asp-items="Html.GetEnumSelectList<Models.DomainModels.BookAvailablity>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="IsBookAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibraryId" class="control-label"></label>
                <select asp-for="LibraryId" class="form-control" asp-items="@(new SelectList(ViewBag.LibraryList,"LibraryId","LibraryName"))">
                    @*<option value="">Please Select</option>*@
                </select>
                <span asp-validation-for="IsBookAvailable" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LibraryAddress" class="control-label"></label>
                <input asp-for="LibraryAddress" class="form-control" />
                <span asp-validation-for="LibraryAddress" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
