﻿@model IEnumerable<Models.DomainModels.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGenreEnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBookAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td>
                    <p>No Books Available</p>
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookAuthor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookGenreEnum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsBookAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Library.LibraryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
