﻿@model IEnumerable<Models.DomainModels.Library>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibraryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count()==0)
        {
            <tr>
                <td>
                    <p>No Libraries Available.</p>
                </td>
            </tr>
        }
        else
        {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LibraryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LibraryAddress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LibraryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LibraryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LibraryId">Delete</a>
                </td>
            </tr>
        }
        }
    </tbody>
</table>
