﻿@model Models.DomainModels.Borrowing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Borrowing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceivedDate" class="control-label"></label>
                    <input asp-for="ReceivedDate" class="form-control" />
                    <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="@(new SelectList(ViewBag.book,"BookId","BookName"))">
                    @*<option>Select a Book</option>*@
                </select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowerId" class="control-label"></label>
                <select asp-for="BorrowerId" class="form-control" asp-items="@(new SelectList(ViewBag.borrower,"BorrowerId","BorrowerName"))">
                    @*<option>Select a Borrower</option>*@
                </select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="PenaltyId" class="control-label"></label>
                    <input asp-for="PenaltyId" class="form-control" />
                    <span asp-validation-for="PenaltyId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
BorrowerName

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
