﻿@model Models.DomainModels.Borrowing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Borrowing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookAuthor)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Borrower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Borrower.BorrowerName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BorrowingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
