﻿@model Models.DomainModels.Borrowing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Borrowing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowingId" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="hidden" asp-for="EndDate" class="form-control" />
                <label>@Model.EndDate</label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivedDate" class="control-label"></label>
                <input asp-for="ReceivedDate" class="form-control" />
                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.BookName" class="control-label"></label>
                <input type="hidden" asp-for="BookId" class="form-control" />
                <label>@Model.Book.BookName</label>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrower.BorrowerName" class="control-label"></label>
                <input type="hidden" asp-for="BorrowerId" class="form-control" />
                <label>@Model.Borrower.BorrowerName</label>
                <span asp-validation-for="BorrowerId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PenaltyId" class="control-label"></label>
                <input asp-for="PenaltyId" class="form-control" />
                <span asp-validation-for="PenaltyId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
