﻿@model IEnumerable<Models.DomainModels.Borrowing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower.BorrowerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
